<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/content/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/content/css/index.css" type="text/css">
    <title>Libra</title>
</head>
<body>
    <div id="hello">
        Hello <span class="name"></span>
    </div>
    <script src="http://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>
    <script src="/content/js/app.js"></script>
</body>
</html>